.container {
display: flex;
flex-direction: column;
align-items: center;
gap: 16px;
width: 100%;
background-color: var(--color-sec-bg);
border-radius: 16px;
}

.miniCalWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.schedListWrapper {
  width: 100%;
  /* height: 200px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  
/* z-index: 0; */   /* 이거 하니까 팝업창이 캘린더 아래로 뜸 */
}
