.header_R {
  color: red;
}

.menuContainer {
  display: flex;
  align-items: center;
  gap: 24px;
  /* height: 100%; */
}

.subMenuList {
  height: 36px;
  min-width: 100%;
  display: flex;
  align-items: center;
  padding: 0 12px;
  cursor: pointer;
  /* background-color: #f6f6f6; */
  background-color: var(--color-light-bg);
}

.subMenuList:hover {
  background: #00000025;
  /* color: #f6f6f6; */
  color: var(--color-light-bg);
}