<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kdt.mapper.AdminBoardListMapper">
    <select id="getAdminBoardListByCohortSn" parameterType="com.kdt.KDT_PJT.adminBoardList.dto.AdminBoardListDTO" resultType="com.kdt.KDT_PJT.adminBoardList.dto.AdminBoardListDTO">

    <!-- Post_bbs-->

        (
        SELECT
        p.POST_SN AS sn,
        p.BBS_TYPE AS boardType,
        p.POST_TTL AS title,
        p.POST_FRST_WRT_DT AS regDt,
        u.USER_NM AS userNm,
        p.VIEW_CNT AS viewCnt
        FROM TB_POST p
        JOIN TB_USER u ON p.POST_WRTR_SN = u.USER_SN
        WHERE p.DEL_YN = FALSE
        AND (p.COHORT_SN IS NULL OR p.COHORT_SN = #{cohortSn})
        AND (
        p.BBS_SCOPE IN ('PUBLIC', 'COMPANY', 'COHORT')
        OR (p.BBS_SCOPE = 'PRIVATE' AND p.POST_WRTR_SN = #{userSn})
        )
        )

        UNION ALL
        <!--bbs_survey-->
        (
        SELECT
        s.SRVY_SN AS sn,
        s.BBS_TYPE AS boardType,
        s.SRVY_TTL AS title,
        s.SRVY_BGNG_DT AS regDt,
        u.USER_NM AS userNm,
        s.VIEW_CNT AS viewCnt
        FROM TB_BBS_SURVEY s
        JOIN TB_USER u ON s.USER_SN = u.USER_SN
        WHERE s.DEL_YN = FALSE
        AND s.SRVY_SCOPE = 'COHORT'
        )

        UNION ALL
        -- 면담 신청
        (
            SELECT
                i.ITV_SN as sn,
                '면담 신청' as boardType,
                i.ITV_APLY_TTL as title,
                i.ITV_APLY_DT as regDt,
                u.USER_NM as userNm,
                i.VIEW_CNT as viewCnt
            FROM TB_INTERVIEW i
            LEFT JOIN TB_USER u ON u.USER_SN = i.ITV_APLCNT_SN
            WHERE i.DEL_YN = 0
            AND i.COHORT_SN = #{cohortSn}
            AND i.ITV_CFMTN_DT IS NULL
            <if test="roleType == 2 or roleType == 3">
                AND i.ITV_PIC_AUTHRT = #{roleType}
            </if>

            <if test="roleType == 4">
                AND (i.ITV_PIC_SN = #{userSn} OR i.ITV_APLCNT_SN = #{userSn})
            </if>

            <if test="roleType == 5">
                AND i.ITV_APLCNT_SN = #{userSn}
            </if>
            ORDER BY i.ITV_SN DESC
            LIMIT 50
        )

        UNION ALL
        -- 면담 기록
        (
            SELECT
                ir.ITV_RECORD_SN as sn,
                '면담 기록' as boardType,
                ir.ITV_RECORD_TTL as title,
                ir.REG_DT as regDt,
                u.USER_NM as userNm,
                ir.VIEW_CNT as viewCnt
            FROM TB_INTERVIEW_RECORD ir
            LEFT JOIN TB_USER u ON u.USER_SN = ir.ITV_PIC_SN
            WHERE 1=1
            AND ir.COHORT_SN = #{cohortSn}
            AND ir.DEL_YN = 0
            ORDER BY regDt DESC
        )

        UNION ALL
        (
            SELECT
                c.CAL_SN as sn,
                CASE c.PRVT_YN
                    WHEN 1 THEN '개인일정'
                    WHEN 0 THEN '공식일정'
                END AS boardType,
                c.EVENT_NM as title,
                c.EVENT_REG_DT as regDt,
                u.USER_NM as userNm,
                c.VIEW_CNT as viewCnt
            FROM TB_CALENDAR c
            LEFT JOIN TB_USER u ON u.USER_SN = c.USER_SN
            WHERE 1=1
            AND c.DEL_YN = 0
            <if test="roleType == 1 or roleType == 2 or roleType == 3"> -- 슈퍼어드민, 대표, 직원은 기수 공식일정만 조회
                AND c.PRVT_YN = 0 AND c.COHORT_SN = #{cohortSn}
            </if>
            <if test="roleType == 4 or roleType == 5">                  -- 강사, 학생은 공식, 개인일정 조회
                AND ((c.PRVT_YN = 1 AND c.USER_SN = #{userSn})
                OR
                (c.PRVT_YN = 0 AND c.COHORT_SN = #{cohortSn})
                )
            </if>
        )

        ORDER BY regDt DESC
        LIMIT 50


    </select>
</mapper>