<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kdt.mapper.calendar">

    <!-- 캘린더 저장 -->
    <insert id="saveCalendar"
            parameterType="com.kdt.KDT_PJT.calendar.dto.CalendarRequestDTO"
            useGeneratedKeys="true"
            keyProperty="calSn">
        /*
        QueryID      : com.kdt.mapper.calendar.saveCalendar
        Description  : 캘린더 일정 등록
        Expect Params: COHORT_SN, EVENT_BGNG_DT, EVENT_END_DT, EVENT_NM,
        RMRK_CN, DEL_YN, USER_SN, EVENT_REG_DT, PRVT_YN
        */
        INSERT INTO TB_CALENDAR (
            COHORT_SN,
            EVENT_BGNG_DT,
            EVENT_END_DT,
            EVENT_NM,
            RMRK_CN,
            USER_SN,
            EVENT_REG_DT,
            PRVT_YN,
            CO_SN,
            FRST_REG_USER_SN,
            EVENT_PLC
        ) VALUES (
            #{cohortSn},
            #{eventBgngDt},
            #{eventEndDt},
            #{eventNm},
            #{rmrkCn},
            #{userSn},
            #{eventRegDt},
            #{prvtYn},
            #{coSn},
            #{userSn},
            #{eventPlc}
        )
    </insert>

    <!-- (선택) 생성 직후 PK로 상세 조회가 필요할 때 쓰는 쿼리 -->
    <select id="findById" parameterType="int"
            resultType="com.kdt.KDT_PJT.calendar.dto.CalendarListResponseDTO">
        SELECT
        CAL_SN           AS calSn,
        COHORT_SN        AS cohortSn,
        EVENT_BGNG_DT    AS eventBgngDt,
        EVENT_END_DT     AS eventEndDt,
        EVENT_NM         AS eventNm,
        RMRK_CN          AS rmrkCn,
        USER_SN          AS userSn,
        EVENT_REG_DT     AS eventRegDt,
        PRVT_YN          AS prvtYn,
        CO_SN            AS coSn
        FROM TB_CALENDAR
        WHERE CAL_SN = #{calSn}
    </select>

    <insert id="createPicCalendarByItvSn"
            parameterType="com.kdt.KDT_PJT.cmmn.map.CmmnMap"
            useGeneratedKeys="true" keyProperty="calSn">
    INSERT INTO TB_CALENDAR
        (COHORT_SN, EVENT_BGNG_DT, EVENT_END_DT, EVENT_NM, USER_SN, PRVT_YN, CO_SN, FRST_REG_USER_SN)
    SELECT
        up.OGDP_COHORT_SN,
        #{itvPrnmntDt},
        #{itvPrnmntDt},
        CONCAT('[면담 일정] ', #{itvTime}, ' ', ua.USER_NM, ' -> ', up.USER_NM),
        up.USER_SN,
        1,
        #{coSn},
        up.USER_SN
    FROM TB_INTERVIEW i
             JOIN TB_USER ua ON ua.USER_SN = i.ITV_APLCNT_SN
             JOIN TB_USER up ON up.USER_SN = i.ITV_PIC_SN
    WHERE i.ITV_SN = #{itvSn}
      AND i.ITV_PIC_SN IS NOT NULL;

    </insert>

    <insert id="createAplcntCalendarByItvSn"
            parameterType="com.kdt.KDT_PJT.cmmn.map.CmmnMap"
            useGeneratedKeys="true" keyProperty="calSn">
        INSERT INTO TB_CALENDAR
            (COHORT_SN, EVENT_BGNG_DT, EVENT_END_DT, EVENT_NM, USER_SN, PRVT_YN, CO_SN, FRST_REG_USER_SN)
        SELECT
            ua.OGDP_COHORT_SN,
            #{itvPrnmntDt},
            #{itvPrnmntDt},
            CONCAT('[면담 일정] ', #{itvTime} ,' ' , ua.USER_NM, ' -> ', up.USER_NM),
            ua.USER_SN,
            1,
            #{coSn},
            up.USER_SN
        FROM TB_INTERVIEW i
                 JOIN TB_USER ua ON ua.USER_SN = i.ITV_APLCNT_SN
                 JOIN TB_USER up ON up.USER_SN = i.ITV_PIC_SN
        WHERE i.ITV_SN = #{itvSn}
          AND i.ITV_PIC_SN IS NOT NULL;
    </insert>

    <select id="selectSimpleByRange" parameterType="com.kdt.KDT_PJT.calendar.dto.CalendarSimpleResponseDTO" resultType="com.kdt.KDT_PJT.calendar.dto.CalendarSimpleResponseDTO">
        SELECT
            c.CAL_SN,
            c.EVENT_NM,
            c.EVENT_BGNG_DT,
            c.EVENT_END_DT,
            c.PRVT_YN
        FROM
            TB_CALENDAR c
        WHERE 1=1
            AND DEL_YN = 0
            -- 날짜 범위: [searchStartDate, endExclusive)
            <if test="searchStartDate != null and searchEndDate != null">
                -- 일정 시작 &lt; 검색 종료 AND 검색 시작 &lt;= 일정 종료 일때 참
                AND(c.EVENT_BGNG_DT &lt; #{searchEndDate})
                AND(#{searchStartDate} &lt;= c.EVENT_END_DT)
            </if>
            <choose>
                <when test="prvtYn != null and prvtYn == 1">                 -- switch문처럼 동작함 위에서부터 조건 걸리는거 하나만 실행.
                    AND c.PRVT_YN = 1
                    AND c.USER_SN = #{userSn}
                </when>

                <when test="prvtYn != null and prvtYn == 0">
                    AND c.PRVT_YN = 0
                    AND c.COHORT_SN = #{cohortSn}
                </when>

                <when test="prvtYn == null">    -- 전체 조회의 경우
                    AND (
                        (c.PRVT_YN = 1 AND c.USER_SN = #{userSn})
                        OR
                        (c.PRVT_YN = 0 AND c.COHORT_SN = #{cohortSn})
                    )
                </when>
            </choose>
        ORDER BY CAL_SN ASC -- EVENT_REG_DT ASC
    </select>

    <select id="selectCalendarDetailByCalSn" parameterType="Integer" resultType="com.kdt.KDT_PJT.calendar.dto.CalendarDetailResponseDTO">
        SELECT
            c.CAL_SN,
            c.EVENT_BGNG_DT,
            c.EVENT_END_DT,
            c.EVENT_NM,
            c.RMRK_CN,
            c.EVENT_PLC,
            c.EVENT_REG_DT,
            c.PRVT_YN,
            c.VIEW_CNT,
            u.USER_NM,
            c.COHORT_SN
        FROM TB_CALENDAR c
        LEFT JOIN TB_USER u ON c.USER_SN = u.USER_SN
        WHERE c.CAL_SN = #{calSn}
            AND DEL_YN = 0
    </select>

    <update id="incCalendarViewCnt" parameterType="Integer">
        UPDATE TB_CALENDAR
        SET VIEW_CNT = VIEW_CNT + 1
        WHERE CAL_SN = #{calSn}
    </update>

    <select id="getCalendarList" parameterType="com.kdt.KDT_PJT.calendar.dto.CalendarSimpleResponseDTO" resultType="com.kdt.KDT_PJT.calendar.dto.CalendarListResponseDTO">
        SELECT
            c.CAL_SN,
            c.EVENT_BGNG_DT,
            c.EVENT_END_DT,
            c.EVENT_NM,
            c.EVENT_REG_DT,
            c.PRVT_YN,
            c.VIEW_CNT,
            u.USER_NM
        FROM TB_CALENDAR c
        LEFT JOIN TB_USER u ON u.USER_SN = c.USER_SN
        WHERE 1=1
            AND DEL_YN = 0
            <choose>
                <when test="prvtYn != null and prvtYn == 1">                 -- switch문처럼 동작함 위에서부터 조건 걸리는거 하나만 실행.
                    AND c.PRVT_YN = 1
                    AND c.USER_SN = #{userSn}
                </when>

                <when test="prvtYn != null and prvtYn == 0">
                    AND c.PRVT_YN = 0
                    AND c.COHORT_SN = #{cohortSn}
                </when>

                <when test="prvtYn == null">    -- 전체 조회의 경우
                    AND ((c.PRVT_YN = 1 AND c.USER_SN = #{userSn})
                        OR
                         (c.PRVT_YN = 0 AND c.COHORT_SN = #{cohortSn})
                        )
                </when>
            </choose>
        ORDER BY CAL_SN DESC -- EVENT_REG_DT ASC
    </select>

    <update id="putCalendarDetailByCalSn" parameterType="com.kdt.KDT_PJT.calendar.dto.CalendarDetailResponseDTO">
        UPDATE TB_CALENDAR c
        <set> -- 마지막쉼표 자동제거
            <if test="eventBgngDt != null">
                c.EVENT_BGNG_DT = #{eventBgngDt},
            </if>

            <if test="eventEndDt != null">
                c.EVENT_END_DT = #{eventEndDt},
            </if>

            <if test="eventNm != null and eventNm != ''">
                c.EVENT_NM = #{eventNm},
            </if>

            <if test="rmrkCn != null and rmrkCn !=''">
                c.RMRK_CN = #{rmrkCn},
            </if>

            <if test="prvtYn != null">
                c.PRVT_YN = #{prvtYn},
            </if>
            <if test="eventPlc != null and eventPlc != ''">
                c.EVENT_PLC = #{eventPlc},
            </if>
            <if test="cohortSn != null and cohortSn != ''">
                c.COHORT_SN = #{cohortSn},
            </if>

                c.USER_SN = #{userSn},
                c.LAST_MDFCN_USER_SN = #{userSn}

        </set>
        WHERE c.CAL_SN = #{calSn}
            AND DEL_YN = 0
    </update>

    <update id="deleteCalendarByCalSn" parameterType="Integer">
        UPDATE TB_CALENDAR
        SET
            DEL_YN = 1
        WHERE CAL_SN = #{calSn}
    </update>

</mapper>